{% extends 'base1.html' %}
{% load static %}

{% block title %}
    Donate Now
{% endblock %}



{% block content %}

    {% if form_errors %}
        <ul>
            {% for field, errors in form_errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST" action="{% url 'campaign' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <h2 class="text-center mb-4">What do you want to donate?</h2>
                    
    
                    <div class="mb-3">
                        <label for="otherProduct" class="form-label">Enter the product you want to donate*</label>
                        <input type="text" class="form-control" id="otherProduct" name="other_products" placeholder="Product" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Active Phone Number*</label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phone_number" placeholder="Contact No." required>
                    </div>

                    <div class="mb-3">
                        <label for="productQuantity" class="form-label">Quantity*</label>
                        <input type="number" class="form-control" id="productQuantity" name="product_quantity" placeholder="Quantity" required min="1">
                    </div>
    
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Upload photos of the product</label>
                        <input type="file" class="form-control" id="productImage" name="product_images" accept="image/*" multiple required>
                    </div>
    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit Donation</button>
                    </div>
    
                    <div id="uploadedImages"></div>
                </form>
            </div>
        </div>
    </div>
    <br><br>    
    
    {% endblock %}
    
    
    <script src={% static "js/script.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

