{% extends 'base2.html' %}
{% load static %}
{% block css %}
<style>
    .donation-table {
        width: 100%;
        border-collapse: collapse;
    }

    .donation-table th, .donation-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    .donation-item label {
        display: block;
    }

    .donation-details {
        display: inline-block;
        vertical-align: middle;
    }
</style>
{% endblock %}


{% block title %}
    Donate Now
{% endblock %}


{% block content %}
    <br>
    <form method="post" action={% url 'collect_donations'%}>
        {% csrf_token %}
        <table class="donation-table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Other Products</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for donation in donations %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_donations" value="{{ donation.id }}" id="donation_{{ donation.id }}">
                    </td>
                    <td>{{ donation.other_products }}</td>
                    <td>{{ donation.user.first_name }}</td>
                    <td>{{ donation.phone_number }}</td>
                    <td>{{ donation.user.donor.location }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No donations found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Optimize Route</button>
    </form>
    {% endblock %}
    
    
    