{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Donate Now
{% endblock %}


{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-4">Fill the following details</h2>
    
                <form method="POST" action="{% url 'create_donation' %}" id="productForm">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name:*</label>
                        <input type="text" class="form-control" id="productName" name="productName" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity:*</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="size" class="form-label">Size:</label>
                        <input type="text" class="form-control" id="size" name="size">
                    </div>
    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:*</label>
                        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description and your contact info"></textarea>
                    </div>
    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Add Listing</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% endblock %}
    
    <script src={% static "js/script.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>