{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Donate Now
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" action="{% url 'create_campaign' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <h2 class="text-center mb-4">Create Campaign</h2>
                

                <div class="mb-3">
                    <label for="title" class="form-label">Campaign Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Campaign Title" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Campaign Description" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" required>
                </div>

                <div class="mb-3">
                    <label for="end_date" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" required>
                </div>

                <div class="mb-3">
                    <label for="items_needed" class="form-label">Items Needed</label>
                    <textarea class="form-control" id="items_needed" name="items_needed" rows="4" placeholder="Items Needed for Campaign" required></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Create Campaign</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br><br>
{% endblock %}

<!-- Bootstrap JS and Popper.js -->
    <script src={% static "js/script.js" %}></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
