{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Donate Now
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ngohome.css" %}">
{% endblock %}

{% block content %}

    <h1 id="welcome" align="center">Welcome, {{ ngoname }}</h1>
    
    
    <div id="hero">
    <div id="browseListing">
        <br><br>
        <h3 id="tag">BROWSE LISTINGS</h3>
        <p id="br">Search items which You wish to donate??</p>
        <div id="serch">
            <form id="search-form">
                <input type="text" id="search-input" name ="q" placeholder="Search items you wish to donate...">
                <button type="submit" id="search-btn">Search</button>
            </form>
        </div><br>

    <form method="post" action={% url 'collect_donations'%}>
        {% csrf_token %}
        <div id="searchResults">
            {% for donation in donation %}
                <div id="parentt">
                    <div class="donation-item">
                        <br>
                        <div class="donation-image">
                            <img src="{{ donation.product_images.url }}" alt="{{ donation.other_products }}">
                        </div>
                        <div class="donation-details">
                            <h2>{{ donation.other_products }}</h2>
                            <p>Name: {{ donation.user.first_name }}</p>
                            <p>Phone Number: {{ donation.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
                <p>No donations found.</p>
            {% endfor %}
        </div>
    </form>

        <h5 align="center">Didn't find Your search?
        <a href="{% url 'create_donation' %}">CREATE LISTINGS</a></h5><br>
        <h5 align="center">OR <br><br>
        <div id="launchC"><a href="{% url 'create_campaign' %}" id="launchid">Launch a campaign</a></div></h5>
    </div>
    </div>
    {% endblock %}
    <script src={% static "js/script.js" %}></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

