{% extends 'base1.html' %}
{% load static %}
{% block title %}
    View Volunteers
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ngo_prof.css" %}">
    <style>
        .volunteer-card {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="ngo-details-section">
        <div class="ngo-image">
            <img id="ngoimg" src="{{ ngo.ngoprofile.image1.url }}" alt="{{ ngo.ngoname }} Image">
        </div>
        <div class="ngo-information">
            <h2>{{ ngo.ngoname }}</h2>
            <p><strong>Description:</strong> {{ ngo.ngoprofile.description }}</p>
            <p><strong>Location:</strong> {{ ngo.ngoprofile.location }}</p>
            <p><strong>Address:</strong> {{ ngo.ngoprofile.address }}</p>
            <p><strong>Registration Number:</strong> {{ ngo.regno }}</p>
            <p><strong>Email: </strong>{{ ngo.user.email }}</p>
        </div>
    </div>

<div id="grandparent">
    <div id="parentleft">
        <div id="hihgdon">
            <h2>{{product_high.productName}}</h2><br>
            <p><b>Quantity:  </b>{{product_high.quantity}}</p><br>
            <p><b>Size:  </b> {{product_high.size}}</p><br>
            <p><b>Description: </b>{{product_high.description}}</p>            
        </div>  
    </div>

    <br><br>

    <div id="parentright">
        <div class="donations-section">
            <div id="headin"><div id="txthead"><h2>Few more requirements of {{ ngo.ngoname }} NGO</h2></div></div>
        </div>

        <h2><div id="headitems">
            <div class="colhead">Product</div>
            <div class="colhead">Quantity</div>
            <div class="colhead">Size</div>
        </div></h2>

            {% for product in ngo.product_set.all %}
            {% if product.id != product_high.id %}
            <a href="{% url 'ngo_donations' product.ngo.id product.id %}" id="links">
                <div class="donation-item1 {% cycle 'even' 'odd' %}" id="ditem">
                    <div class="column">
                        <h3>{{ product.productName }}</h3>
                    </div>
                    <div class="column" id="quant">
                        <p> {{ product.quantity }}</p>
                    </div>
                    <div class="column">
                        <p> {{ product.size }}</p>
                    </div>
                </div>
            </a>
                
            {% endif %}

            {% empty %}
            <br>
            <p><strong>No donations listed.</strong></p>
            {% endfor %}
    </div>

</div>

<div id="campaigns" class="container my-5">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Active Campaigns</h1>
    
        <ul class="list-group">
            {% for campaign in active_campaigns %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{ campaign.title }}</h4>
                    <small class="font-weight-bold"><h6>Campaign closing on {{ campaign.end_date }}</h6></small>
                </div>
                <p class="mb-1 lead">{{ campaign.description }}</p>
            </li>
            {% empty %}
            <li class="list-group-item font-weight-bold">No active campaigns.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Upcoming Campaigns</h1>
    
        <ul class="list-group">
            {% for campaign in upcoming_campaigns %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{ campaign.title }}</h4>
                    <small class="font-weight-bold"><h6>Campaign starts on {{ campaign.start_date }} upto {{ campaign.end_date }}</h6></small>
                </div>
                <p class="mb-1 lead">{{ campaign.description }}</p>
            </li>
            {% empty %}
            <li class="list-group-item font-weight-bold">No upcoming campaigns yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

<script src={% static "js/script.js" %}></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
