<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/ngodetstyles.css" %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <title>ShareKare</title>
</head>
<body>

    <div class="container">
        <h2>Congrats! You are almost there.</h2>
        {% if form_errors %}
            <ul>
                {% for field, errors in form_errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="{% url 'ngo_details' %}" enctype="multipart/form-data" id="ngoForm">
            {% csrf_token %}
            
            <label for="image1">Upload photos of your NGO:</label>
            <input type="file" id="myfile" name="image1" accept="image/*">
        
            <label for="location">Enter NGO location:</label>
            <input type="text" id="location" name="location" placeholder="Enter NGO Location" required>
        
            <label for="address">Enter NGO address:</label>
            <input type="text" id="address" name="address" placeholder="Enter NGO Address" required>
        
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Enter NGO Description" required></textarea>
        
            <input type="submit" value="Submit">
        </form>
        
    </div>
</body>
</html>
