{% extends 'base1.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/realcampstys.css" %}">
{% endblock %}
{% block title %}
    Donate Now
{% endblock %}

{% block content %}
    <div class="container">
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        <div class="campaign-container">
            {% for campaign in camp %}
                {% with ngo_profile=ngo_profiles|first %}
                    <div class="campaign-box">
                        <div class="campaign">
                            <div class="campaign-image">
                                <img src="{{ ngo_profile.image1.url }}" alt="{{ campaign.title }}">
                            </div>
                            <div class="campaign-info">
                                <h2>{{ campaign.title }}</h2>
                                <p>{{ campaign.description }}</p>
                                <p>Start Date: {{ campaign.start_date }}</p>
                                <p>End Date: {{ campaign.end_date }}</p>
                                <p>Location: {{ ngo_profile.location }}</p>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        
    </div>
    {% endblock %}

    <script src={% static "js/script.js" %}></script>

 