{% extends 'base1.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ngo_prof.css" %}">
{% endblock %}
{% block title %}
    Donate Now
{% endblock %}



{% block content %}

    <!-- NGO Details Section -->
    <div class="ngo-details-section">
        <div class="ngo-image">
            <img id="userimg" src="{% static "images/userlogo.png" %} " alt="{{ request.user.username }} ">
        </div>
        <div class="ngo-information">
            <p><strong>Name: </strong>{{ request.user.first_name }}</p>
            <p><strong>Username: </strong>{{ request.user.username }}</p>
            <p><strong>Email: </strong>{{ request.user.email }}</p>
            <p><strong>Location: </strong>{{ request.user.donor.location }}</p>
        
        </div>
        
    </div>

    <div class="donations-section">
        <div id="headin"><div id="txthead"><h2 align="center">Donations Listed</h2></div></div>
        <br>
        <h2>
            <div id="headitems">
                <div class="colhead">Product</div>
                <div class="colhead">Quantity</div>
                <div class="colhead">Contact info</div>
                <div class="colhead">Image</div>
            </div>
        </h2>
        {% for donation in user.donation_set.all %}
        <div class="donation-item {% cycle 'even' 'odd' %}">
            <div class="column">
                <h3>{{ donation.other_products }}</h3>
            </div>
            <div class="column" id="quant">
                <p> {{ donation.product_quantity }}</p>
            </div>
            <div class="column">
                <p>{{ donation.phone_number }}</p>
            </div>
            <div class="column" id="quant">
                <a href="{{ donation.product_images.url }}" target="_blank">
                    <img src="{{ donation.product_images.url }}" alt="{{ donation.other_products }}" class="donation-image">
                </a>
            </div>
        </div>
        {% empty %}
        <br>
        <p><strong>No donations made yet.</strong></p>
        {% endfor %}
    </div>

{% endblock %}


    <script src={% static "js/script.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    